<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Upload an Image
        </h3>
    </div>
    <form method="POST" action="/images" enctype="multipart/form-data">
        <div class="panel-body from-horizontal">
            <div class="form-group col-md-12">
                <label class="col-sm-2 control-label" for="file">Browse:</label>
                <div class="col-md-10">
                    <input class="form-control" type="file" name="file" id="file">
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label" for="title">Title:</label>
                    <div class="col-md-10">
                    </div>
                </div>
                <input class="form-control" type="text" name="title">
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-12 control-label" for="description">Description:</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="description" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <button type="submit" id="login-btn" class="btn btn-success" type="button">
                        <i class="fa fa-cloud-upload"></i> Upload Image
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Newest Images
        </h3>
    </div>
    <div class="panel-body">
        {{#each images}}
        <div class="col-md-4 text-center" style="padding-bottom: 1em;">
            <a href="/images/{{uniqueId}}">
                <img src="/public/upload/{{filename}}" alt="{{title}}" style="width: 175px; height: 175px;" class="img-thumbnail">
            </a>
        </div>
        {{/each}}
    </div>
</div>